<div class="container-fluid">
    <form class="form-horizontal" ng-submit="vm.modifyBar()">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3>Modificar bar</h3>
            </div>
            <br>
            <div class="panel-content">

                <div class="container">
                    <div class="col-md-3 col-md-offset-3">

                        <div class="form-group"
                             ng-class="{ 'has-error': form.idBar.$dirty && form.idBar.$error.required }">
                            <label for="idBar">Identificación</label>
                            <input type="text" id="idBar" class="form-control" ng-model="vm.bar.idBar" readonly/>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                            <label for="name">Nombre del bar</label>
                            <input type="text" id="name" class="form-control" ng-model="vm.bar.name"
                                   required/>
                                <span ng-show="form.name.$dirty && form.name.$error.required"
                                      class="help-block">Nombre de bar es requerido</span>
                        </div>

                        <div class="form-group"
                             ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
                            <label for="address">Dirección</label>
                            <input type="text" id="address" class="form-control" ng-model="vm.bar.address"
                                   required/>
                                <span ng-show="form.address.$dirty && form.address.$error.required"
                                      class="help-block">Dirección es requerido.</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" id="username" class="form-control" ng-model="vm.bar.username"
                                   required/>
                                <span ng-show="form.username.$dirty && form.username.$error.required"
                                      class="help-block">Nombre de usuario es requerido.</span>
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <label for="password">Contraseña</label>
                            <input type="password" id="password" class="form-control" ng-model="vm.bar.password"
                                   required/>
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Contraseña es requerido.</span>
                        </div>

                        <div class="form-group">
                            <br>
                            <label for="banners">Seleccionar los banners para la trivia (mantener presionada la tecla shift
                                para seleccionar más de uno)</label>
                            <!--<select multiple class="form-control bannersSelected" id="banners"-->
                            <!--ng-model="vm.bannersSelected">-->
                            <!--<option ng-repeat="banner in vm.allBanners">{{banner}}</option>-->
                            <!--</select>-->
                            <!--<select multiple="true" ng-model="bannersSelected"-->
                            <!--ng-options="banner.name for banner in vm.allBanners"></select>-->
                            <select multiple class="form-control"  ng-model="vm.bannersSelected"
                                    ng-options="banner.name for banner in vm.allBanners" id="banners"></select>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
                                class="btn btn-success">
                            Modificar
                        </button>
                        <a href="#/bar" class="btn btn-link">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>